body{
    max-width: 1440px;
}
#video{
    display: flex;
    max-height: 650px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    object-fit: cover;
    clip-path: fill-box;
    outline: none;
}

#examples{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 24px;
    font-weight: bold;
    margin-top: 5%;
    text-align: center;
}
.gif{
    max-width: 100%;
    height: auto;  
    padding: 0px;
    margin: 0px;  
}

#hamburger{
    background-color: #3284BF;
    display: flex;
    height: 70px;
    width: 100%;
}

#hamicon{
    float: left;
    margin-left: 5px;
    margin-top: 5px;
    height: 80%;
}
#homeNavbar{
    color: #004C54;
    width: 600px;
    font-size: 36px;
    padding: 0px;
    margin: 0px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.nav{
    display: inline;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 0px;
    padding-top: 0px;
    
}

#container{
    max-width: 1440px;
    margin-right: auto;
    margin-left: auto;
}

.roboto-medium {
    font-family: "Roboto", system-ui;
    font-weight: 500;
    font-style: normal;
  }

.line{
    width:600px;
    display: inline block;
    border: 1px solid #004C54;
    margin-right: auto;
    margin-left: auto;
    margin-top: 5px;
    }

.gif{
    float: left;
}

.gifr{
    float: right;
    display: flex;
}
body{
    background-color: white;
}

#work{
    display: flex;
    margin-top: 30px;
}

.footer{
    background-color: #004C54;
    height: 40px;
    display: flex;
    max-width: 1440px;
    text-align: center;
    vertical-align: top;
    overflow: hidden;
    clear: both;
    
}

.foot{
    font-size: 24px;
    color: #A5ACAF;
    padding: 0px;
    margin: 0px;
    margin-right: 20px;
    margin-left: 20px;
    text-align: center;
    display: inline-block;
    text-decoration: none;
}
#logo{
    height:36px;
    padding-left: 5px;
    padding-top: 19px;   
    margin-top: -17px;
}

#footerList{
    float: left;
    color: #A5ACAF;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    margin-bottom: 10px;
    text-decoration: none;
    margin-top: 8px;
}

#bio{
    display: flex;
    margin-left: 10%;
    margin-right: 10%;    
}

#words{
    float:left;
}

#image{
    float: right;
    display: flex;
    object-fit: cover;
}

    
#profilepic{
    float: right;
    padding-top: 0px;
    max-width: fit-content;    
}

a{
    color: inherit;
    text-decoration: none;
}

@media screen and (max-width: 992px) {
    .navbar {display: none;}
    .line {display: none;}
    
}

@media screen and (min-width: 993px) {
    #hamburger{display: none;}
}

#aboutMe{
    display: flex;
    max-width: 1440px;
    justify-content: center;
    align-items: center;
}

#portrait{
    display: flex;
    max-width: 100%;
    align-items: center;
    justify-content: center;
     
}

#words{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: larger;
    margin-top: 0px;
    padding-top: 0px;
}

#hello{
    margin-bottom: 0px;
    padding-bottom: 0px;
}

#uxskills{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    max-width: 1300px;
    
}

#skills{
    display: flex;
    max-width: 1000px;
    align-self: center;
    margin: auto;
    width: 100%;
}
#mine{
    align-content: center;
    text-align: center;
    justify-content: center;

}

#research{
    margin-top: 20px;
}

#userResearch{
    display: flex;
    max-width: 1440px;
    align-self: center;
    margin: auto;
    width: 100%;
}

#contact{
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
}

#contactMe{
    text-align: center;
    font-size: larger;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#methods{
    clear: both;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;    
    width: 80%;
    align-content: center;
    align-self: center;
    margin-top: 20px;
    margin-left: 20%;
    
}

#left{
    margin-right: 20%;
    margin-bottom: 10%;
}

#email{
    display: flex;
   
}

#linked{
    display: flex;
    padding-top: 20%;
    
    
}